#divPaper{
    width: 30%;
    display: flex;
    justify-content: center;
    margin: 2%;
    align-self: center;
}

#divPaper img{
    align-self: center;
    border: 10px solid rgb(81,108,245);
    background-color: rgb(249,248,249);
    border-radius: 50%;
    padding: 15%;
}

@media (min-width : 320px) and (max-width: 767px) {

    #divPaper img {
        padding: 20%;
    }
    #divPaper {
        margin: 5%;
    }
}